/SemanticAdaptationForFMI/FMIAbstraction/src/sampleunits/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/units/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/abstract_units/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/units/*.pyc
