[submodule "DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.cg.cpp.lib/src/resources/hybridCosimulation-framework"]
	path = DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.cg.cpp.lib/src/resources/hybridCosimulation-framework
	url = https://github.com/into-cps/hybridCosimulation-framework.git
