/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/.antlr-generator-3.2.0-patch.jar
/DSL_SemanticAdaptation/copy.cmd
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/model/generated/SemanticAdaptation.ecore
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/model/generated/SemanticAdaptation.genmodel
/SemanticAdaptationForFMI/FMIAbstraction/src/results.html
/SemanticAdaptationForFMI/FMIAbstraction/src/results_F.html
/SemanticAdaptationForFMI/FMIAbstraction/src/results_x.html
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/scenarios/setpythonpath.cmd
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/model

src-gen
xtend-gen
bin

Thumbs.db
*.class
*._trace
*.xtendbin
*.pyc
*.pdb
*.jar

.classpath
.metadata
.settings

##
bin/
target/
build/
.gradle/
generated/
generated-sources/
src-gen/
xtend-gen/
.DS_Store
/DSL_SemanticAdaptation/copy.bat
/DSL_SemanticAdaptation/copyfiles.bat
/SemanticAdaptationForFMI/Experiments/power_window_case_study/case/result_Control_sa.html
/SemanticAdaptationForFMI/Experiments/power_window_case_study/case/result_ENV.html
/SemanticAdaptationForFMI/Experiments/power_window_case_study/case/result_power_sa.html
*.o
*.o
*.o
/SemanticAdaptationForFMI/Experiments/power_window_case_study/lib/*.libs
/SemanticAdaptationForFMI/Experiments/power_window_case_study/fmus/FMI_Window_sa/log.txt
/SemanticAdaptationForFMI/Experiments/power_window_case_study/fmus/FMI_power_sa/log.txt
/SemanticAdaptationForFMI/Experiments/power_window_case_study/fmus/FMI_loop_sa/log.txt
/SemanticAdaptationForFMI/Experiments/power_window_case_study/fmus/FMI_controller/log.txt
