/SemanticAdaptationForFMI/FMIAbstraction/src/sampleunits/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/units/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/abstract_units/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/units/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/units/adaptations/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/units/ct_based/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/units/de_based/*.pyc
/SemanticAdaptationForFMI/FMIAbstraction/src/master/*.pyc
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/.antlr-generator-3.2.0-patch.jar
/SemanticAdaptationForFMI/Experiments/power_window_case_study/fmu20/fmu/cs/log_statemachine.txt
/DSL_SemanticAdaptation/copy.cmd
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/model/generated/SemanticAdaptation.ecore
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/model/generated/SemanticAdaptation.genmodel
/SemanticAdaptationForFMI/Experiments/hierarchical_fmu/fmu20/src/models/mass_spring_damper_hierarchical/Thumbs.db
/SemanticAdaptationForFMI/Experiments/hierarchical_fmu/doc/Thumbs.db
/SemanticAdaptationForFMI/Experiments/power_window_case_study/fmu20/src/co_simulation/vc100.pdb
/SemanticAdaptationForFMI/FMIAbstraction/src/results.html
/SemanticAdaptationForFMI/FMIAbstraction/src/results_F.html
/SemanticAdaptationForFMI/FMIAbstraction/src/results_x.html
/SemanticAdaptationForFMI/FMIAbstraction/src/case_study/scenarios/setpythonpath.cmd
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/bin/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/model
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/xtend-gen/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation/src-gen/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.ide/xtend-gen/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.ide/bin/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.ide/src-gen/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.tests/src-gen/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.tests/xtend-gen/be
/DSL_SemanticAdaptation/be.uantwerpen.ansymo.semanticadaptation.tests/bin/be
Thumbs.db
